@font-face {
  font-family: 'weipeiti';
  src: local('weipeiti'), url('fonts/weipeiti.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'weipeiti', Arial, sans-serif !important;
  font-size: 24px;
}
